<%- include("header")%>
<%- include("nav1")%>

<link rel="stylesheet" href="./stylesheets/signup.css">


<div id="container">

<form action="/signin" method="post">
    <h1>SignIn</h1>
   <br><br> <input type="text" placeholder="username" name="username"> <br><br>
    <input type="password" placeholder="Password" name="password"> <br><br>
 <button>submit</button>
 <p>Already have a Account..</p>
</form>
</div>

<%- include("footer")%>